DB_NAME=observability
DB_USERNAME=observability
DB_PASSWORD=observability1234
DB_ROOT_PASSWORD=root1234
DB_URL=jdbc:mysql://mysql:3306/observability?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
GF_SECURITY_ADMIN_PASSWORD=admin
