DB_NAME=observability
DB_USERNAME=observability
DB_PASSWORD=observability1234
DB_ROOT_PASSWORD=root1234
DB_URL=jdbc:mysql://mysql:3306/observability?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
GF_SECURITY_ADMIN_PASSWORD=admin
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1507595620850995260/MhMMRasnKoR7a0RbZmtpfyt88WYE91p9UTGrhDCjvf6t1l-nj4ElMSdgW2eQ5mxaSpwR
DISCORD_MENTION=@everyone
